
/*#MM-bar {
    height: 100%;
    width: 34.4%;
}*/

#members-menu {
    width: 100%;
    height: 62%;
}

#messages-menu {
    width: 100%;
    height: 38%;
}

#members-tabar {
    width: 100%;
    /*height: 9%;*/
}

#messages-tabar {
    width: 100%;
    /*height: 20%;*/
}

#members-tabar button, #messages-tabar button{
    width: 33.33%;
    /*height: 95%;*/
}

#members-tab {
    width: 100%;
    height: 87%;
    border-width: 0px;
}

#messages-tab {
    width: 100%;
    height: 95%;
    border-width: 0px;
}

#widget-mm-med {
    margin-top: 0px;
    width: 100%;
    height: 15%;
}

#widget-mm-bottom {
    margin-top: 0px;
    width: 100%;
    height: 5%;
}

#groups {
    width: 100%;
    height: 100%;
    border-width: 0px;
}

#area {
    width: 84%;
}


spacer {
    width: 98%;
}

.icon {
    margin-top: 5px;
    width: 0.8rem;
    height: 0.8rem;
}

.scroll-fix {
    border-width: 0px;
}

.fixed-switch {
    background: #e7e9ed;
    background-clip: padding-box;
    border-radius: .45rem;
    height: .9rem;
    left: 0;
    top: .25rem;
    width: 1.6rem;
    border: .05rem solid #caced7;
    cursor: pointer;
    display: inline-block;
    position: absolute; 
    transition: all .2s ease;
}

.fixed-switch:focus {
    border-color: #5755d9; 
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2);
}

.fixed-switch:selected {
    background: #5755d9;
    border-color: #5755d9;
}

.fixed-switch button {
    background: #fff;
    border-radius: 10;
    content: "";
    display: block;
    height: .8rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease;
    width: .8rem;
}

.fixed-divider-text {
    background: #fff;
    color: #acb3c2;
    display: inline-block;
    font-size: .7rem;
    padding: 0 .4rem;
    height: 10px;
    margin-top: -.2rem;
}

.vintage-card {
    /* TODO */
}